/* components/Footer.css */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

  
  .footer p {
    margin: 0;
  }
  
  .footer img {
    padding-right: 40px;
    width: 34px;
    height: 34px;
  }
  