/* components/Footer.css */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  
}

  
  .footer p {
    margin: 0;
    color: black; 
  }
  
  .footer img {
    padding-right: 40px;
    width: 34px;
    height: 34px;
  }
  